@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Water+Brush&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    background: url('./universe.jpg') center center fixed no-repeat;
    background-size: cover;
}

.cabecalho {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    border: none;
    width: 100%;
    background: rgb(6, 0, 105);
    background: linear-gradient(360deg, rgba(6, 0, 105, 0.1) 0%, 
    rgba(0, 181, 255, 0.2) 52%, rgba(255, 0, 189, 0.1) 100%)
}

.cabecalho h2 {

    font-family: 'Water Brush', cursive;
    font-size: 40px;
    padding-bottom: 10px;

}

ul {
    display: flex;
    list-style: none;
}

ul li {
    margin-left: 15px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    border-bottom: dashed 1px black;
    color: rgb(255, 0, 221);
}

.container {
    text-align: center;
}

.name {
    margin: 70px auto;
    text-shadow: 0px 0px 20px rgba(255,255,255,0.52);
}

.name h1 {

    font-size: 60px;
}

.name h2 {
    font-size: 25px;

}

#arrow {
    cursor: pointer;
}

#animation {
    font-size: 30px;
    /* --fa-bounce-start-scale-x: 1;
    --fa-bounce-start-scale-y: 1;
    --fa-bounce-jump-scale-x: 1;
    --fa-bounce-jump-scale-y: 1;
    --fa-bounce-land-scale-x: 1;
    --fa-bounce-land-scale-y: 1; usando as propriedades do proprio font awesome descrito no site */

    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }

}

#animation {
    transition: 300ms;
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

.active {
    display: block !important;
}

.descricao {
    max-width: 600px;
    margin: 20px auto;
}

.descricao p {
    text-align: justify;
}

.form {
    width: 40%;
    margin: 50px auto;
   letter-spacing: 1px;

}

.form input {

    margin: 20px 0;
    width: 50%;

    padding: 5px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.form button {
    width: 20%;

    padding: 5px 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    margin: -4px;
    cursor: pointer;
    background: linear-gradient(to right, rgb(50, 77, 230) 50%, rgb(155, 36, 161) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #fff;
    transition: all 300ms ease-out;

}

.form button:hover {
    background-position: left bottom;
    color: white;
}

@media(max-width: 860px) {

    .form button {
        width: 50%;
    }

    .descricao {
        padding: 20px;
    }

}

@media (max-width: 510px) {
    .cabecalho{
        padding-bottom: 10px;
    }

    .cabecalho ul {
        padding-right: 20px;
    }

    .cabecalho div h2 {
        padding-left: 20px;
    }

    .form form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form button {
        width: 100%;
        border-radius: 5px;

    }

    .form input {

        width: 100%;
        border-radius: 5px;
    }

}

@media (max-width:300px) {
    body {
        width: 300px;
    }
}